body{
    background-color: 	#f8f8fa;
    font-size: 16px;
}

.botao{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -20;
    margin: 40px;
}   

button i {
    padding-right: 5px;
}

button span{
    font-size: 18px;
}

.modal-corpo{
    background-color: #e5e6eb;
}
.modal-header, .modal-footer {
    background-color: #e5e6eb;
}

#nome-receita{
    background-color: #e5e6eb;
    border: none;
}
.fas{
    font-size: 22px;
}

.box{
    background-color: #e5e6eb !important;
}
#img-resultado{
    height: 100px;
}

.img-input{
    display: none;
    padding: 10px 5px;
}

.input-style{
    width: 20%;
    line-height: 2;
    text-align: center;
}