body{
    background-color:  #f0f0f0	!important;
    font-size: 16px;
}

.botao{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin: 40px;
}   

button i {
    padding-right: 5px;
}

button span{
    font-size: 18px;
}

.modal-corpo{
    background-color: #e5e6eb;
}
.modal-header, .modal-footer {
    background-color: white;
}

#nome-receita, #categoria{
    background-color: #e5e6eb;
    border: none;
}
.fas{
    font-size: 22px;
}

.box{
    background-color: #e5e6eb !important;
}
#img-resultado{
    height: 100px;
}

.modal-visualizar{
    background-color: #f3f3f3;
}

.ingredientes-style, .preparo-style{
 background-color: white;
}